@font-face {
  font-family: 'MyCustomFont';
  src: url('GentyDemo-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MyCustomFont2';
  src: url('Truetypewriter PolyglOTT.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #242b68;
    background-image: url('[FSC] Yearbook 2025.png');
    background-size: cover;       
    background-repeat: no-repeat;
    background-position:left;
    height: auto;
  overflow-y: auto;
  }
  
  header {
    color: #fbad22;
    padding: 2rem;
    font-family: 'MyCustomFont';
  }
  
  main {
    flex: 1;
    font-family: 'MyCustomFont2';
  }
  

  footer {
    margin-top: 5rem;
    padding: 1rem;
    background-color: #fbad22;
    color: #242b68;
  }
  
  .dataframe-my-table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
    font-family: Arial, sans-serif;
     width: 100%;
     background-color: white;
     font-family: 'MyCustomFont2';
  }
  
  .dataframe-my-table td {
    border: 2px solid #242b68;
    padding: 10px;
    text-align: left;
    font-family: 'MyCustomFont2';
  }
  
  .dataframe-my-table th {
    color: #fbad22;
    border: 2px solid #242b68;
    font-family: 'MyCustomFont2';
    font-size: 15px;
    text-align: center;
  } 
     